.overlay {
    /* Common styles for the overlay here... */
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    position: fixed; /* Position the overlay fixed, covering the whole screen */
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex; /* Flex layout to center child components */
    justify-content: center;
    align-items: center;
}

.overlay.active {
    /* Styles for the active overlay here... */
    background-color: rgba(124, 251, 37, 0.9); /* #7CFB25 with 90% opacity */
}